<header>
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div class="banner1">
                   <img class="img" src="https://images.clarin.com/2018/02/25/SJxSh5ldf_930x525__1.jpg" alt="San-Martin">
                   <h1><strong>Jose de San Martin</strong></h1><h6>La Gloriosa Historia de un Hombre que Nunca dejo de Luchar por su Nacion</h6>  
                </div>
                <div class="banner2">
                </div>
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div class="btn-group" role="group" aria-label="Basic example" class="lados">
                    <div class="menu">
                        <a class="btn btn-secondary" routerLink="/Vida-Familiar">Vida Familiar</a>
                        <a class="btn btn-secondary" routerLink="/Campaña-Libertadora">Campaña Libertadora</a>
                        <a class="btn btn-secondary"routerLink="/Cordillera-de-los-Andes">Cordillera de los Andes</a>
                        <a class="btn btn-secondary" routerLink="/Maximas">Maximas</a>
                        <a href=""><img class="imagen1" src="https://image.flaticon.com/icons/png/128/174/174848.png" alt="facebook"></a>
                        <a href=""><img class="imagen2" src="https://www.flaticon.com/premium-icon/icons/svg/176/176658.svg" alt="Twitter"></a>
                        <a href=""><img class="imagen3" src="https://image.flaticon.com/icons/svg/179/179346.svg" alt="youtube"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-8"><router-outlet class="rutas"></router-outlet></div>
        <div class="col-sm-4 ">      
            <div class="iframes">
                <div class="frameyoutube">
                        <h4><sub>San Martin,Una pelicula de Revolucion</sub></h4>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/fT_WjgJ_-r0?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>
                <div class="frameyoutube">
                     <h4><sub>Documental Biografico del Procer</sub></h4>
                     <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/y3TRgJGA-vU?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>
                <div class="frameyoutube">
                        <h4><sub>Mario Bailo,Aluman que interpreto a Remedios de Escalada</sub></h4>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/SYFOeDvf6-c?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>
                <div class="frameyoutube">
                        <h4><sub>San Martin y El cruce de los Andes</sub></h4>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/72LaLqYREj8?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>
                <div class="frameyoutube">
                        <h4><sub>Padres de San Martin</sub></h4>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/Ltpw1mN5l94?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>
                <div class="frameyoutube">
                        <h4><sub>La hija de San Martin y Remedios</sub></h4>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/2ZkcVNoDzbc?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>
                <div class="frameyoutube">
                        <h4><sub>La batalla de San Lorenzo</sub></h4>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/TnM8UIanSlo?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>
                <div class="frameyoutube">
                        <h4><sub>Homenaje al Sargento Cabral :,)</sub></h4>
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="250" height="200" type="text/html" src="https://www.youtube.com/embed/8SqwV7gJyUI?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                </div>

            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
                <div class="col" >
                    <div class="colorlista">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="https://es.wikipedia.org/">Wikipedia</a></li>
                            <li><a href="https://www.google.com.ar/search?q=google+imagenes&rlz=1C1GCEA_enAR794AR794&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwiJxuijlOzcAhVEjZAKHR-xBXwQ_AUICigB&biw=1242&bih=574">Google Images</a></li>
                            <li><a href="https://www.youtube.com/">Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                        <div class="colorlista">
                                <h4>Navegacion</h4>
                                <ul>
                                    <li><a href="/Vida-Familiar">Vida Familiar</a></li>
                                    <li><a href="/Campaña-Libertadora">Campaña Libertadora</a></li>
                                    <li><a href="/Cordillera-de-los-Andes">Cordillera de los Andes</a></li>
                                    <li><a href="/Maximas">Maximas</a></li>
                                </ul>
                            </div>
                </div>
                <div class="col">
                    <div class="colorlista">
                        <h4>Data of Developer</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/ale.estevez.3?ref=bookmarks">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/in/alejandro-estevez-73654b11b/">LinkedIn</a></li>
                            <li><a href="https://github.com/Alejandro696">Github</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
----------------------------------------------------------------------------------------------   Designed by Radna   -------------------------------------------------------------------------------------------------
</footer>    