<div class="container">
  <div class="row">
    <div class="col-4">
       <h3>La Cordillera de los Andes</h3>
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Cordillera_de_los_Andes.jpg/220px-Cordillera_de_los_Andes.jpg" alt="">
       
       
    </div>
    <div class="col-8">
      <h4>La Creacion del Ejercito de los Andes</h4>
      <p>
          A pesar de la oposición del nuevo director supremo, Carlos María de Alvear, a quien San Martín había conocido en Cádiz y que lo había acompañado hasta entonces, se dedicó a organizar el Ejército de los Andes.
          Reunió en un solo ejército a los refugiados chilenos, a las milicias locales de Cuyo, gran cantidad de voluntarios de su provincia y varios oficiales del Ejército del Norte. También pidió y obtuvo que los batallones del Regimiento de Granaderos a Caballo, desperdigados entre varios destinos, le fueran enviados a Cuyo.
          Como Alvear intentó someterlo a su autoridad, le presentó su renuncia al cargo de gobernador. Alvear envió a reemplazarlo al coronel Gregorio Perdriel, pero los mendocinos lo rechazaron airadamente. De este modo San Martín fue confirmado como gobernador por elección popular.
        </p>
      </div>
      <div class="col">
         Poco después del nombramiento como nuevo director supremo del general Juan Martín de Pueyrredón, se reunió con él en Córdoba, donde discutieron largamente su plan de campaña sobre Chile y Perú. El 20 de mayo de 1816, Tomás Guido presentó una Memoria oficial, en la que se expuso detalladamente el plan, que fue aprobada y mandada a ejecutar por el director Pueyrredón.54​

        Al mismo tiempo San Martín presionó a los diputados cuyanos al Congreso de Tucumán para declarar la independencia de las Provincias Unidas de Sudamérica, objetivo conseguido el 9 de julio de 1816.54​

Para financiar su campaña, además de los cuantiosos aportes de Pueyrredón, obligó a pagar «contribuciones obligatorias» a todos los comerciantes y hacendados. A cambio se les extendía un vale, que cobrarían «cuando las circunstancias lo permitan». En cambio, tuvo muy pocos miramientos para confiscar los bienes de todos los españoles que no se destacaran en la ayuda a la causa de la independencia.54​

Formó un gran campamento militar en El Plumerillo, unos siete kilómetros al noreste de la ciudad de Mendoza. Allí formó a sus soldados y oficiales, fabricó armas (sables, fusiles, cañones, municiones y pólvora) y uniformes. Tuvo que ocuparse de engordar mulas y caballos, y fabricar y colocarles herraduras.54​

El jefe de sus talleres, fray Luis Beltrán, inventó un sistema de poleas para pasar los precipicios con los cañones y otro de puentes 
colgantes, ambos transportables. La sanidad del ejército estaba en manos del cirujano inglés James Paroissien. El coronel José Antonio Álvarez Condarco se encargó de realizar los planos de los distintos cruces de la Cordillera de los Andes.
Antes de iniciar la marcha, reunió a los caciques mapuches y les pidió permiso para invadir Chile a través de sus tierras. Alguno de estos caciques le hizo llegar esa noticia al capitán general de Chile, Casimiro Marcó del Pont, por lo que este creyó que el grueso del ataque sería por el sur, lo que lo llevó a dividir sus fuerzas.54​

El Ejército de Chile le reconoció el grado de capitán general.20​

Contrariamente a lo pretendido por el director supremo Pueyrredón y sus partidarios, entró en correspondencia con el caudillo José Gervasio Artigas y se negó a distraer su esfuerzo bélico de las campañas emancipadoras en Chile y en Perú para enfrentar a los federales en el litoral del Río de Plata. Por este motivo los directoriales unitarios ―en particular Bernardino Rivadavia― llegaron a acusarlo de «traidor».

En una carta fechada en agosto de 1816, San Martín se refirió a las islas Malvinas.55​ En el texto, San Martín le pedía al gobernador de San Juan que liberara a prisioneros que se encontraban en Carmen de Patagones y Malvinas (Puerto Soledad) para que se sumaran al Ejército de Los Andes.56​
</div> 
    <div class="col">
      <img src="http://amaneceronline.com/web/wp-content/uploads/2016/07/ZZZZ-15.jpg" alt="">
      <hr>
    </div>
  </div>
  <div class="row">
      <div class="col-4">
        
        <h3>El Cruce de los Andes</h3>
        <p>El 12 de enero de 1817 se inició el cruce de los Andes en dirección a Chile. El Ejército de los Andes fue uno de los dos grandes cuerpos militares que las Provincias Unidas del Río de la Plata desplegó en la Guerra de Independencia Hispanoamericana; contó inicialmente con 3 brigadieres, 28 jefes, 207 oficiales, 3778 soldados (incluyendo a parte de los oficiales y soldados chilenos que emigraron a Mendoza después de la batalla de Rancagua),b​ Escritores chilenos como Osvaldo Silva y Agustín Toro Dávila se refieren a un aporte mayor de patriotas chilenos, aunque ninguno detalla la fuente documental utilizada en la aseveración. Osvaldo Silva, en su libro Atlas de la Historia de Chile 2005, afirma que había 1200 chilenos en el ejército de los Andes reunidos en Mendoza</p>
      </div>
      <div class="col-8">
         <img class="img2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Cruce_de_los_Andes.jpg/280px-Cruce_de_los_Andes.jpg" alt="">
         <p>1200 milicianos montados (para conducción de víveres y artillería), 120 barreteros de minas (para facilitar el tránsito por los pasos), 25 baqueanos, 47 miembros de sanidad (para el hospital de campaña), 16 piezas de artillería (10 cañones de 6 pulgadas, 2 obuses de 4 1/2 pulgadas y 4 piezas de montaña de 4 pulgadas), 15 empleados civiles, 1600 caballos extras (para caballería y artillería) y 9281 mulas (7359 de silla y 1922 de carga).58​


Pasos fronterizos donde cruzó el Ejército Libertador
Con el objetivo de dividir a las tropas enemigas, San Martín ordenó primero el avance de parte de las tropas por los pasos de Come Caballos, Guana, Portillo y Planchón. Estos no eran los pasos elegidos para las columnas principales, sino que los dos primeros se hallaban al norte y los últimos al sur de los realmente seleccionados, que eran los que ya habían sido analizados por José Antonio Álvarez Condarco, o sea, los pasos de Uspallata y Los Patos. Era un avance en varios sectores, en un frente de más de 2000 kilómetros, a través de una gigantesca cordillera. Con esto se pretendía distraer a las fuerzas realistas de Chile que no sabían en definitiva por donde arribarían, y los obligaba a dividir sus fuerzas y provocar movimientos favorables a la revolución en zonas alejadas de la capital, Santiago de Chile, entre ellas la dirigida por Ramón Freire hacia Chillán, que llegó unos días antes que las demás y convenció al gobernador realista que el ataque principal sería por el sur.59​
</p>
</div>
<div class="col">
  <p>
A partir del 17 de enero de 1817, el Ejército de los Andes inició el avance de sus columnas principales por los pasos de Los Patos y Uspallata. Las dos columnas principales estaban formadas por 3500 soldados, 100 baqueanos, 1000 caballos, 10 000 mulas (de las que llegaron 4000), 30 cañones, casi un millón de cartuchos de fusil, varias toneladas de pólvora, y alimento para todos los hombres y animales para un mes de marcha.
1200 milicianos montados (para conducción de víveres y artillería), 120 barreteros de minas (para facilitar el tránsito por los pasos), 25 baqueanos, 47 miembros de sanidad (para el hospital de campaña), 16 piezas de artillería (10 cañones de 6 pulgadas, 2 obuses de 4 1/2 pulgadas y 4 piezas de montaña de 4 pulgadas), 15 empleados civiles, 1600 caballos extras (para caballería y artillería) y 9281 mulas (7359 de silla y 1922 de carga).
Con el objetivo de dividir a las tropas enemigas, San Martín ordenó primero el avance de parte de las tropas por los pasos de Come Caballos, Guana, Portillo y Planchón. Estos no eran los pasos elegidos para las columnas principales, sino que los dos primeros se hallaban al norte y los últimos al sur de los realmente seleccionados, que eran los que ya habían sido analizados por José Antonio Álvarez Condarco, o sea, los pasos de Uspallata y Los Patos. Era un avance en varios sectores, en un frente de más de 2000 kilómetros, a través de una gigantesca cordillera. Con esto se pretendía distraer a las fuerzas realistas de Chile que no sabían en definitiva por donde arribarían, y los obligaba a dividir sus fuerzas y provocar movimientos favorables a la revolución en zonas alejadas de la capital, Santiago de Chile, entre ellas la dirigida por Ramón Freire hacia Chillán, que llegó unos días antes que las demás y convenció al gobernador realista que el ataque principal sería por el sur.
</p>
</div>     
  </div>  
  <div><h1>Ubicacion de la Cordillera de los Andes</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26873.883828027097!2d-70.02837715810121!3d-32.65317728458747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9687925500c38047%3A0x5234c15eaaa14869!2sAconcagua!5e0!3m2!1ses-419!2sar!4v1534241955359" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>



